<h1> show page </h1>

<%= image_tag(@tape.artcover) %>

<h1><%= @tape.title %></h1>

<div>
   #all of the attributes you want to show on this show page put into here 
</div>

#navigation buttons below to go back or edit goes below

#<%= link_to 'Mixtape List', tapes_path %>
#<%= link_to 'Change Mixtape', edit_tape_path(@tape)
